code.highlighter-rouge {
  color: rgb(204, 34, 85);
  background-color: #f7f7f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 1px 3px;
}

div.wrapper {
  margin-bottom: 20px;
}
div.wrapper:last-child {
  margin-bottom: 0;
}

footer {
  padding: 0;
}
